.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 60px;
  list-style-type: none;
  background: black;
  overflow: hidden;
  transition: width .5s;
  z-index:3;
}
.term {
  margin-left:-60px;
}
.side-menu:hover {
  width: 325px;
}
.side-menu li  {
  width: 500px;
  font-size: 1rem;
  margin: 20px 30px 0 62px;
  list-style-type:none;
}
.side-menu .icons {
  margin-top: -20px;
  margin-left:80px;
  list-style-type:none;
}
.side-menu .icons a{
  margin-left:3%;
  list-style-type:none;
}
.side-menu p  {
  font-size: 1rem;
  margin-top: 20px;
  margin-left:20px;
  list-style-type:none;
  padding-left: 65px;
  color: #FFF;
}
.side-menu a {
  text-decoration: none;
  color: #FFF;
}
.side-menu h3  {
  
  margin-top: 100px;
  margin-left: 65px;
  color: #FFF;
  text-decoration: none;
}

.side-menu ul  {
  padding-top:120px;
    list-style-type:none;
}
.side-menu li a {
  display: block;
  font-size: .9rem;
  text-decoration: none;
  list-style-type:none;
  color: #FFF;
  height: 60px;
}

.side-menu li a:hover,
.side-menu li:first-child a {
  display: block;
}
.bordermenu {
  border-bottom:1px solid white;
  margin-top:-20px;
  margin-left:60px;
  margin-right:50px;
}
.annexe {
  margin-top :65px;
}
.annexe p {
  font-size:0.9rem;
}
/*=====================================================**
**                  MEDIA QUERIES                      **
**=====================================================*/
@media only screen and (max-width: 600px) {
  .side-menu:hover {
    width: 100%;
  }
  .side-menu h3  {
    margin-top: 20px;
  }
  .side-menu .icons {
    margin-top: -45px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px){
  /* Styles */
  .side-menu:hover {
    width: 100%;
  }
  }


  
  @media only screen and (min-width: 801px) and (max-width: 1024px) {}

 

  @media only screen and (min-width: 1025px) and (max-width: 1280px){}


  @media only screen and (min-width: 1281px) and (max-width: 1440px){}



